<div class="container">
<h2>Get Request (https://jsonplaceholder.typicode.com/posts/1/comments)</h2>


<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Post Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Body</th>
  </tr>
</thead>
<tbody>
  <tr scope="row" *ngFor="let com of listComments">
    <td>{{com.id}}</td>
    <td>{{com.postId}}</td>
    <td>{{com.name}}</td>
    <td>{{com.email}}</td>
    <td>{{com.body}}</td>
  </tr>
</tbody>
</table>

<hr>

<h2>Get Request with params (https://jsonplaceholder.typicode.com/posts?userId=3)</h2>

<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">User Id</th>
    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
  </tr>
</thead>
<tbody>
  <tr scope="row" *ngFor="let post of listPosts">
    <td>{{post.userId}}</td>
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
  </tr>
</tbody>
</table>

<h2>Post Request (https://jsonplaceholder.typicode.com/posts + new Post)</h2>

<p>id : {{objPosts?.id}}</p>
<p>User Id : {{objPosts?.userId}}</p>
<p>Title : {{objPosts?.title}}</p>
<p>Body : {{objPosts?.body}}</p>



<h2>Put Request (https://jsonplaceholder.typicode.com/posts + update Post)</h2>

<p>id : {{objPuts?.id}}</p>
<p>User Id : {{objPuts?.userId}}</p>
<p>Title : {{objPuts?.title}}</p>
<p>Body : {{objPuts?.body}}</p>
</div>